[submodule "SimCCL"]
	path = SimCCL
	url = git@github.com:aliyun/SimCCL
	branch = master
[submodule "aicb"]
	path = aicb
	url = https://github.com/violetandevergarden/aicb.git
	branch = hc-dev
[submodule "ns-3-alibabacloud"]
	path = ns-3-alibabacloud
	url = git@github.com:hovering-clouds/ns-3-alibabacloud
	branch = hc-dev
